<div class="ghost-post-<%= post.id %>">
  <%= link_to path do %>
    <p class = 'bubble'><%= post.body %></p>
  <% end %>
  <div class="outer">
    <div class="ghost-container">
      <div class="ghost-body" id="<%= post.tone.downcase %>">
        <div class="eyeball"></div>
        <div class="eyeball"></div>
      </div>
      <div class="flap left" id="<%= post.tone.downcase %>"></div>
      <div class="flap" id="<%= post.tone.downcase %>"></div>
      <div class="flap right" id="<%= post.tone.downcase %>"></div>
    </div>
    <div class="shadow"></div>
  </div>
</div>
