<nav class='topnav nav-center' role='navigation'>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="nav-center black">
      <% if current_user != nil %>
      <li>
        <%= link_to '/', html_options = {id: 'home'} do %>
          <i class="large material-icons">home</i>
        <% end %>
      </li>
      <li>
        <%= link_to profile_path, html_options = {id: 'profile'} do %>
          <i class="large material-icons">account_circle</i>
        <% end %>
      </li>
        <% if current_user.admin? %>
          <li>
            <%= link_to '/admin/dashboard', html_options = {id: 'dashboard'} do %>
              <i class="large material-icons">dashboard</i>
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to logout_path, html_options = {id: 'logout'} do %>
            <i class="large material-icons">exit_to_app</i>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to github_login_path, html_options = {id: 'login'} do %>
            <i class="material-icons left">public</i>
            Log in with GitHub
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
