<h2>Post <%= @post.id %></h2>

<p><%= @post.day.group.name %></p>
<p class='.day-week'><%= "#{@post.day.day_of_week}," %> Week <%= @post.day.week %></p>
<p><%= @post.body %></p>
<p><%= @post.tone %></p>

 <%= render partial: "shared/ghost", locals: { model: @post } %>

<p><%= @post.created_at.strftime("Posted on %m/%d/%Y at %I:%M%p") %></p>
