<h2>Post <%= @post.id %></h2>

<p><%= @post.day.group.name %></p>
<p class='.day-week'><%= "#{@post.day.day_of_week}," %> Week <%= @post.day.week %></p>
<p><%= @post.body %></p>
<p><%= @post.tone %></p>

 <%= render partial: "shared/ghosts", locals: { post: @post } %>

<p><%= @post.created_at.strftime("Posted on %m/%d/%Y at %I:%M%p") %></p>

<div id="reactions">
  <p>Liked by <%= @post.reactions.amount_of(0) %>.</p>
  <p>Disliked by <%= @post.reactions.amount_of(1) %>.</p>
  <p><%= @post.reactions.amount_of(2) %> can relate.</p>
  <p>Made <%= @post.reactions.amount_of(3) %> laugh.</p>
  <p>Made <%= @post.reactions.amount_of(4) %> say 'ugh'.</p>
</div>
