<h2>Post <%= @post.id %></h2>

<p><%= @post.day.group.name %></p>
<p class='.day-week'><%= "#{@post.day.day_of_week}," %> Week <%= @post.day.week %></p>
<p><%= @post.body %></p>
<p><%= @post.tone %></p>

<div class="ghost-container">
  <div class="ghost-body">
    <div class="eyeball"></div>
    <div class="eyeball"></div>
  </div>
  <div class="flap"></div>
  <div class="flap"></div>
  <div class="flap"></div>
  <div class="shadow"></div>
</div>
