<%= render partial: "shared/new_post" %>
<% @posts.each do |post| %>
  <section class="post-<%= post.id %>">
  <p class='bubble'><%= post.body %> (<%= link_to "Click to see post #{post.id}'s info.", "/posts/#{post.id}" %>)</p>
  <%= render partial: "shared/ghosts", locals: { tone: post.tone.downcase } %>
<% end %>
