<h2>All Posts</h2>

  <% @posts.each do |post| %>
    <section class="post-<%= post.id %>">
    <p><%= post.body %> (<%= link_to "Click to see post #{post.id}'s info.", "/posts/#{post.id}" %>)</p>
    <%= render partial: "shared/ghosts", locals: {post: post} %>
  <% end %>

<div class="row" style="width:500px;">
  <%= form_tag '/profile/posts', method: :post, class: 'col s12' do %>
    <div class="input-field col s12">
      <i class="material-icons prefix">whatshot</i>
      <%= text_area_tag :body, nil, class:'materialize-textarea', :'data-length' => '222' %>

      <%= button_tag type: 'submit', class: "btn waves-effect waves-light" do %>
        Submit<i class="material-icons right">send</i>
      <% end %>
    </div>
  <% end %>
</div>
