<h2>Post</h2>

<p><%= @post.user.group.name %></p>
<p class='.day-week'><%= "#{@post.day.day_of_week}," %> Week <%= @post.day.week %></p>
<p><%= @post.body %></p>

<section id='reactions'>
  <% if @post.reaction_by_user(current_user, 0) %>
    <%= button_to 'Undo like', post_reactions_path(@post.id, {category: 0}), method: :delete %>
  <% else %>
    <%= button_to 'Like', post_reactions_path(@post.id, {category: 0}) %>
  <% end %>

  <% if @post.reaction_by_user(current_user, 1) %>
    <%= button_to 'Undo dislike', post_reactions_path(@post.id, {category: 1}), method: :delete %>
  <% else %>
    <%= button_to 'Dislike', post_reactions_path(@post.id, {category: 1}) %>
  <% end %>

  <% if @post.reaction_by_user(current_user, 2) %>
    <%= button_to 'Undo can relate', post_reactions_path(@post.id, {category: 2}), method: :delete %>
  <% else %>
    <%= button_to 'Can relate', post_reactions_path(@post.id, {category: 2}) %>
  <% end %>

  <% if @post.reaction_by_user(current_user, 3) %>
    <%= button_to 'Undo lol', post_reactions_path(@post.id, {category: 3}), method: :delete %>
  <% else %>
    <%= button_to 'Lol', post_reactions_path(@post.id, {category: 3}) %>
  <% end %>

  <% if @post.reaction_by_user(current_user, 4) %>
    <%= button_to 'Undo upset', post_reactions_path(@post.id, {category: 4}), method: :delete %>
  <% else %>
    <%= button_to 'Upset', post_reactions_path(@post.id, {category: 4}) %>
  <% end %>
</section>
