<h2>Post</h2>

<p><%= @post.day.group.name %></p>
<p class='.day-week'><%= "#{@post.day.day_of_week}," %> Week <%= @post.day.week %></p>
<p><%= @post.body %></p>
<p><%= @post.tone %></p>

<section id='reactions'>
  <% @post.reactions_by_user(current_user).each.with_index do |reaction, index| %>
    <% unless reaction %>
      <%= link_to(post_reactions_path(@post.id, {category: index}), html_options = {method: :post, class: reaction_button, id: "reaction-#{(index)}"}) do %>
      <i class="material-icons"><%= reaction_icon(index) %></i>
      <% end %>
    <% else %>
      <%= link_to(post_reaction_path(@post, reaction, {category: index}), html_options = {method: :delete, class: clicked_reaction_button, id: "negate-reaction-#{index}"}) do %>
      <i class="material-icons"><%= reaction_icon(index) %></i>
      <% end %>
    <% end %>
  <% end %>
</section><br>

<%= render partial: "shared/ghosts", locals: { post: @post } %>
