<h2>Post</h2>

<p><%= @post.user.group.name %></p>
<p class='.day-week'><%= "#{@post.day.day_of_week}," %> Week <%= @post.day.week %></p>
<p><%= @post.body %></p>

<section id='reactions'>
  <%= button_to 'Like', '/' %>
  <%= button_to 'Dislike', '/' %>
  <%= button_to 'Can relate', '/' %>
  <%= button_to 'Lol', '/' %>
  <%= button_to 'Upset', '/' %>
</section>
