<!DOCTYPE html>
<html>
  <head>
    <title>GhostDiaryGateway</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <center>
      <nav class='topnav'>
        <div class="nav-wrapper">
          <!-- <a href="#" class="brand-logo center">Ghost Diaries</a> -->
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <% if current_user != nil %>
              <% if current_user.role == "registered_user" %>
                <li><%= link_to 'Home', '/' %></li>
                <li><%= link_to 'Profile', '/profile' %></li>
                <li><%= link_to 'Logout', '/logout' %></li>
              <% else current_user.role == "admin" %>
                <li><%= link_to 'Home', '/' %></li>
                <li><%= link_to 'Dashboard', '/admin/dashboard' %></li>
                <li><%= link_to 'Logout', '/logout' %></li>
              <% end %>
            <% else %>
              <li><%= link_to 'Log in with GitHub', github_login_path %></li>
            <% end %>
        </ul>
      </div>
      </nav>

      <% flash.each do |name, msg| %>
        <div class= "<%=name%>-flash">
          <p><%= msg %></p>
        </div>
      <% end %>

      <%= yield %>
      
    </center>
  </body>
</html>
