<!DOCTYPE html>
<html>
  <head>
    <title>GhostDiaryGateway</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class='topnav'>
      <% if current_user != nil %>
        <%= link_to 'Home', '/' %>
        <%= link_to 'Profile', '/profile' %>
        <%= link_to 'Logout', '/logout' %>
      <% else %>
        <%= link_to 'Log in with GitHub', github_login_path  %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
