<!DOCTYPE html>
<html>
  <head>
    <title>GhostDiaryGateway</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <center>

      <nav class='topnav nav-center' role='navigation'>
        <div class="nav-wrapper">
          <ul id="nav-mobile" class="nav-center hide-on-med-and-down">
            <% if current_user != nil %>
              <% if current_user.role == "registered_user" %>
                <li><%= link_to 'Home', '/' %></li>
                <li><%= link_to 'Profile', '/profile' %></li>
                <li><%= link_to 'Logout', '/logout' %></li>
              <% elsif current_user.role == "admin" %>
                <li><%= link_to 'Home', '/' %></li>
                <li><%= link_to 'Dashboard', '/admin/dashboard' %></li>
                <li><%= link_to 'Logout', '/logout' %></li>
              <% end %>
            <% else %>
              <li>
                <%= link_to github_login_path do %>
                  <i class="material-icons left">public</i>
                  Log in with GitHub
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>

      <% flash.each do |name, msg| %>
        <div class= "<%=name%>-flash">
          <p><%= msg %></p>
        </div>
      <% end %>

      <%= yield %>

      <footer style="position:fixed;bottom:0;left:0;width:100%;", class='footer'>
        <nav class="light-green lighten-3">
          <ul>
            <p class="white-text"> Made By: David, Maria, Elom and Jenny</p>
          </ul>
        </nav>
      </footer>

    </center>

  </body>
</html>
